@import "../variables";

button {
  &.primary {
    width: 185px;
    height: 60px;
    border-radius: 40px;
    background: $yellow;
    color: black;
  }

  &.secondary {
    width: 185px;
    height: 60px;
    background: none;
    color: white;
    border: 0;
  }
}