@import "../variables.scss";

.features-lower-content {
  .hero-wrapper {
    background: white;
  }
}

.features-hero {
  .pricing {
    margin: 2rem 0;
    width: 185px;
    height: 60px;
    border-radius: 40px;
    background: $yellow;
    color: black;
  }
}