@import "../variables.scss";

.hero-wrapper {
  background: $tint-blue;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding: 7rem 10rem;

  .content {
    color: white;
    padding-right: 7rem;

    @media screen and (max-width: 1600px) {
      padding-right: 2rem;
    }

    h1 {
      padding: 1.5rem 0;

      @media screen and (max-width: 1600px) {
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
      }
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    display: block;
    text-align: center;
  }
}