@import "../variables.scss";

.homepage-hero {
  .buttons {
    padding: 3rem 0;

    .work {
      width: 185px;
      height: 60px;
      border-radius: 40px;
      //border: 2px solid rgba(244, 246, 252, 0.2);
      background: $yellow;
      color: black;
    }

    .pricing {
      width: 185px;
      height: 60px;
      background: none;
      color: white;
      border: 0;
    }
  }
}