.homepage-content {
  padding: 8rem;
  text-align: center;

  .features-text {
    margin-bottom: 1rem;
  }

  .content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    box-sizing: border-box;
  }
}