@import "../variables.scss";

.stats {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  height: 100%;

  .users {
    h3 {
      color: $dark-blue;
    }

    span {
      font-weight: 400;
      color: $dark-blue;
    }
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;

    .icon {
      position: relative;
      width: 120px;
      height: 50px;
    }
  }

  @media screen and (max-width: 1100px) {
    display: none;
  }
}