@import "../../variables";

.homepage-review {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
  padding-top: 8rem;
  padding-bottom: 8rem;

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left {
    @media screen and (max-width: 1200px) {
      text-align: center;
    }

    p {
      margin-top: 1rem;
      font-weight: 400;
    }
  }

  .right {
    position: relative;

    .review {
      h5 {
        text-align: left;
        margin-bottom: 3rem;

        @media screen and (max-width: 1200px) {
          text-align: center;
        }
      }

      .avatar {
        display: grid;
        grid-template-columns: max-content max-content;

        .image {
          grid-row: span 2;

          position: relative;
          width: 56px;
          height: 56px;

          img {
            object-fit: contain;
            border-radius: 40px;
          }
        }

        .name {
          font-size: 18px;
        }

        .status {
          font-size: 12px;
          line-height: 24px;
        }
      }
    }

    .buttons {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      gap: 0.8rem;

      button {
        border-radius: 40px;
        background: white;
        border: none;
        width: 48px;
        height: 48px;

        .arrow::after {
          content: '';
          display: inline-block;
          margin-top: 8px;
          margin-left: 8px;
          width: 16px;
          height: 16px;
          border-top: 3px solid $dark-blue;
          border-right: 3px solid $dark-blue;
          transform: rotate(-135deg);
        }
      }

      button.next {
        background: $blue;

        .arrow::after {
          margin-top: 8px;
          margin-left: -4px;
          border-top: 3px solid white;
          border-right: 3px solid white;

          transform: rotate(45deg);
        }
      }
    }
  }
}