@import url('https://unpkg.com/modern-css-reset/dist/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

@import "components/navbar";
@import "components/footer";
@import "components/hero";
@import "components/homepage/homepage-features";
@import "components/homepage/homepage-review";
@import "components/about-us/aboutus-content";
@import "components/benefits";
@import "components/card";
@import "components/stats";
@import "components/about-us/aboutus-team";
@import "components/button";
@import "components/container";
@import "components/blog/blog-post-featured";

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}

h4 {
  font-size: 36px;
  font-weight: 500;
  line-height: 56px;
}

h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}