@import url('https://unpkg.com/modern-css-reset/dist/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

@import "./components/navbar.scss";
@import "./components/footer.scss";
@import "./components/hero.scss";
@import "./components/homepage-content.scss";
@import "./components/homepage-review.scss";
@import "./components/homepage-hero.scss";
@import "./components/aboutus-hero.scss";
@import "./components/aboutus-content.scss";
@import "./components/benefits.scss";
@import "./components/card.scss";
@import "./components/stats.scss";
@import "./components/aboutus-team.scss";
@import "./components/features-hero.scss";
@import "./components/features-content-hero.scss";

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}

h4 {
  font-size: 36px;
  font-weight: 500;
  line-height: 56px;
}

h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 100rem;
  margin: auto;

  padding-right: 10rem;
  padding-left: 10rem;

  @media screen and (max-width: 1200px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}