@import "../../variables";

.aboutus {
  background: $gray;
  display: grid;
  grid-template:  "a a"
                    "b c";
  padding: 5rem;
  gap: 0 3.75rem;
  color: $dark-blue;

  @media screen and (max-width: 800px) {
    grid-template: "a"
                     "b"
                     "c";

    padding: 1rem;
  }

  span {
    grid-area: a;
  }

  h3 {
    padding: 1rem 0;
  }

  .goal {
    grid-area: b;
  }

  .improvement {
    grid-area: c;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 340px;

  img {
    object-fit: cover;
  }
}
